body {
    background-image: url(./background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

@keyframes scale {
    100% {
      transform: scale(1);
    }
}
.fade-in-text, .nav-bar, .nav-btn {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
.fade-in-text:nth-child(1) {
    animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.fade-in-text:nth-child(2) {
    animation: fade-in 1.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.fade-in-text:nth-child(3) {
    animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-bar:nth-child(1) {
    animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-btn:nth-child(1) {
    animation: fade-in 1.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-btn:nth-child(2) {
    animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-btn:nth-child(3) {
    animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-btn:nth-child(4) {
    animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.nav-btn:nth-child(5) {
    animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

.logo-name-title {
    margin-top: 12vh;
    margin-bottom: 30%;
}

.personal-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    margin-top: 2%;
}

.my-name {
    text-align: center;
    color: rgb(233, 221, 221);
    font-size: 700%;
    margin-top: 8%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.40, 1, 0.5, 1);
}

.my-title {
    text-align: center;
    color: rgb(233, 221, 221);
    font-size: 350%;
    padding: 0%;
    margin: 0%;
}


.nav-bar {
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(1, 1, 1);
    height: fit-content;
    width: 100%;
    padding: 0%;
    margin: 0%;
    z-index: 10;
}

.nav-btn {
    color: aliceblue;
    text-decoration: none;
    font-size: x-large;
    
}

.my-slogan {
    text-align: center;
    color: rgb(233, 221, 221);
    font-size: 200%;
}

.about-section {
    background-color: black;
    width: 100vw;
    height: fit-content;
}

.about-title {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}

.about-me-section {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}

.about-me {
    width: 45%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
}

.about-me-paragraphs {
    color: aliceblue;
    font-size: x-large;
}

.about-me-photo-div {
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 50vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
}

.family-photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photos-of-activities {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-img {
    margin: 2%;
    width: auto;
    height: 23vh;
    border-radius: 5vh;
}

.tech-stack-section {
    background-color: black;
}

.tech-stack-title {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0%;
}

.tech-stack-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#devicon {
    width: 6%;
    height: auto;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}


.project-section {
    background-color: black;
    height: fit-content;
}

.project-title {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}

.completed-projects-section {
    padding: 0vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-images {
    margin: 2vw;
    width: 25vw;
    height: auto;
}

.content-section {
    background-color: black;
}

.contact-title {
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
}