body {
    background-image: url(./background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.my-name {
    text-align: center;
    color: rgb(233, 221, 221);
}

.personal-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%
}